<div
  class="month-grid-container"
  #monthContainer
  tabindex="0"
>
  <div class="weekday-header">Sun</div>
  <div class="weekday-header">Mon</div>
  <div class="weekday-header">Tue</div>
  <div class="weekday-header">Wed</div>
  <div class="weekday-header">Thu</div>
  <div class="weekday-header">Fri</div>
  <div class="weekday-header">Sat</div>

  @for (day of daysToShow; track $index) {
    @let weekIndex = getWeekIndex($index);
    @let dayIndex = getDayIndex($index);
    @if (weekIndex < weeksToShow) {
      <div
        class="month-day-cell {{ getDayClass(day) }} {{
          isPastDate(day) ? 'past-date' : ''
        }}"
        [attr.data-day]="day"
        style="grid-row: {{ weekIndex + 2 }}; grid-column: {{ dayIndex + 1 }}"
        (click)="onDayClick(day, $event)"
      >
        <div class="month-day-header">
          <span class="month-day-number">{{ day | date: 'd' }}</span>
          @if (hasEventsForDay(day)) {
            <span class="event-dot"></span>
          }
        </div>
        <div class="month-day-events">
          @for (ev of getEventsForDay(day); track ev.id) {
            <div
              class="month-event"
              [class]="ev.type"
            >
              <schedule-event
                [event]="ev"
                [isMonthView]="true"
                class="month-schedule-event"
              ></schedule-event>
            </div>
          }
        </div>

        @if (isCreateTaskActive() && selectedDay() === day) {
          <create-task-placeholder
            [isEditMode]="true"
            [date]="selectedDay()"
            (editEnd)="onCreateTaskEnd()"
            class="month-create-task"
          ></create-task-placeholder>
        }
      </div>
    }
  }
</div>
